# FUSE temporary files (Linux)
.fuse_hidden*

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
dist/
build/

# Virtualenv
.venv/
venv/
env/

# LaTeX auxiliares
*.aux
*.log
*.bbl
*.blg
*.out
*.toc
*.synctex.gz

# OS
.DS_Store
Thumbs.db
